@media all and (max-width:450px){
    .main{
        margin: 0 20px;
        position: relative;
        width: 100%;
    }
    .title-name{
        padding-top: 45px;
        text-align: center;
        font-size: 30px;
    }
    .header-center{
        margin-left: 0%;
    }

    .paletteimg{
        height: 50px;
        width: 100px;
        opacity: 0.8;
        color: black;
        line-height: 50px;
        font-family: Arial Black;
    }
    
    .img1{
        width: 70%;
        margin: 0 auto;
    }
}
