/*　タブレット用表示　*/
@media all and (max-width:1050px){

    .contents-wrapper{
        margin: 70px 0 0 90px;
    } 


    .img2{
        width: 35%;
        height: auto;
        position: absolute;
        top: 385px;
        left: 55%;
    
    
    }
    
}

/*　スマホ版表示　*/
@media all and (max-width:670px){

    .header-center{
        margin-left: 0%;
    }

    .paletteimg{
        height: 50px;
        width: 100px;
        opacity: 0.8;
        color: black;
        line-height: 50px;
        font-family: Arial Black;
    }

    .top-wrapper{
        margin: 60px 10px 0 10px;
    }

    .title-name{
        padding-top: 45px;
        text-align: center;
        font-size: 30px;
    }
    
    .title-article{
        margin-top: 55px;
    }

    .aa{
        display: none;
    }

    .bb{
        border: 1px solid cornflowerblue;
    }

   .contents-wrapper{
        margin-top: 60px;
        margin-left:0;
    }

    .allpart{
        margin-left: 40px;
    }

    .img1{
        display: block;
        width: 100%;
        height: auto;
    }

    .img2{
       display: none;
        
    }
}
