@media all and (max-width:450px){
    .main{
        margin: 0 20px;
    }
    .title-name{
        padding-top: 45px;
        text-align: center;
        font-size: 30px;
    }
    .header-center{
        margin-left: 0%;
    }

}
